PRIMARY_HTTP_PORT=18080
PRIMARY_GRPC_PORT=18081
PRIMARY_ADMIN_PORT=18082
REPLICA_HTTP_PORT=18083
REPLICA_GRPC_PORT=18084
LIBSQL_IMAGE=ghcr.io/tursodatabase/libsql-server@sha256:528e068844b4bc5b87fb128da87e98d361d3414c4e1cced7b943939248e0ed2f
LIBSQL_PLATFORM=linux/amd64
LIBSQL_ADMIN_AUTH_KEY=local-admin-key
